* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.call-bg {
    background-color: #2d3436;
}

.wale,
.wale:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.home {
    background: linear-gradient(rgba(14, 13, 13, 0.8), rgba(15, 14, 14, 0.8)), url("../images/man-pan-KTSYy-3XVSo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.home-content h2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: #FFFFFF;
}

.home-content p {
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    font-size: 25px;
    color: #FFFFFF;
}

.about .head,
.room .head {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 26px;
    line-height: 10px;
}

.about .sub,
.room .sub {
    font-size: 15px;
    line-height: 20px;
}

.block {
    height: 200px;
    width: 200px;
    border: 2px solid #dfe6e9;
    border-radius: 50%;
}

.head-name {
    font-weight: 200;
    font-size: 20px;
    line-height: 15px;
}

.head-post {
    font-size: 14px;
    line-height: 0px;
}

.room1 {
    background: linear-gradient(to bottom, #dfe6e9 50%, #dfe6e9 50%);
}

.brd-btm {
    border-bottom: 2px solid rgb(49, 57, 65);
}

.bg {
    background-color: #ffffff;
}

.bg .name {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 18px;
    color: #ff9f1a;
    line-height: 10px;
}

.bg .desc {
    line-height: 0;
}

.book {
    background-color: #273c75;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
}

.price {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}

.room-icon {
    color: #273c75;
}

.hosp {
    background-color: #ffffff;
}

.hosp-icon {
    color: #ffffff;
    font-size: 26px;
}

.aaz {
    background-color: #4e5374;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: relative;
    top: 25px;
}

.hosp1 {
    height: 170px;
}

.hosp1 .name {
    font-weight: 200;
    font-size: 18px;
    color: #141814;
    line-height: 10px;
}

.hosp1 .desc {
    color: #4e5374;
    line-height: 20px;
}

.footer {
    background-color: #192a56;
    color: #ffffff;
    font-size: 14px;
}

.footer-icon {
    color: #00a8ff;
}


/*small screen*/

@media screen and (max-width: 560px) {
    .bg .name,
    .hosp1 .name {
        font-size: 14px;
    }
    .bg .desc,
    .hosp1 .desc,
    .price,
    .book {
        font-size: 12px;
    }
    .home {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .home-content h2 {
        font-size: 25px;
    }
    .home-content p {
        font-size: 16px;
    }
    .about .head,
    .room .head {
        font-weight: 200;
        font-size: 18px;
        line-height: 20px;
    }
    .about .sub,
    .room .sub {
        font-size: 12px;
        line-height: 20px;
    }
    .hosp1 {
        height: 200px;
    }
    .hosp-icon {
        color: #ffffff;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 768px) {}