.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid aquamarine;
}
h4{
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    background: linear-gradient(rgba(124,214,57,0.98) 45%, rgba(116,214,172,0.98));
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: inherit;
}
.ccol-lg-3{
    background: #FCFCFC;
    display: block;
}
.col-lg-9{
    background-color: white;
}
#image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.list{
    font-family: monospace;
    font-size: 20px;
    font-weight: ;   
}
.list:hover{
    border-bottom: 2px solid skyblue;
    padding-bottom: 8px;
}
.list a{
    color: black;
}
.list a:hover{
    text-decoration: none;
    color: skyblue;
}
@media screen and (max-width: 1023px){
    .about li{
        display: inline;
    }
    .about li a{
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile ul li{
        display: inline;
    }
    .list{
    font-size: 16px;
    font-weight: bold;
    }
    .hr{
        margin: 0px;
        visibility: hidden;
    }
}
@media screen and (min-width: 1024px){
    .mobile ul li{
        margin: 5px 0 5px 0;
    }
    .line{
        visibility: hidden;
    }
     .about li{
        display: inline;
    }
    .about li a{
        margin-left: 20px;
        margin-right: 20px;
    }
    .list{
    font-size: 16px;
    font-weight: bold;
    }
}