.intro{
    background-image: url("../images/kendall-ruth-602587-unsplash.jpg");
    background-size: cover;
    padding: 200px 0 150px 100px;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.navbar-brand{
    font-family: 'Sofia', cursive;
    color: #c56cf0;
}
.skills{
    background: rgba(17, 20, 76, 0.07);
}
.media img{
    width: 120px;
    height: 120px;
}
.media-body p{
    color: #4b4b4b;
}
.list{
    color: #574b90;
}
#contact{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("../images/clement-h-544786-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: #2d3436;
    color: #feca57;
    font-size: 14px;
}
.con a{
    color: #feca57;
}
@media screen and (max-width: 1023px){
    .collapse{
        padding-left: 15px;
    }
    .navbar-brand{
        font-size: 25px;
    }
}
@media screen and (min-width: 1024px){
    .navbar-brand{
        font-size: 35px;
    }
}